<div class="container">
  <div class="mat-display-4">Display 4</div>
  <div class="mat-display-3">Display 3</div>
  <div class="mat-display-2">Display 2</div>
  <div class="mat-display-1">Display 1</div>

  <mat-divider></mat-divider>

  <div class="mat-headline">Headline</div>
  <div class="mat-title">title</div>
  <div class="mat-subheading-2">subheading-2</div>
  <div class="mat-subheading-1">subheading-1</div>

  <mat-divider></mat-divider>

  <div class="mat-body-1">body-1</div>
  <div class="mat-body-2">body-2</div>
  <div class="mat-caption">caption</div>

  <mat-divider></mat-divider>

  <h1>h1</h1>
  <h2>h2</h2>
  <h3>h3</h3>
  <h4>h4</h4>
  <h5>h5</h5>
  <h6>h6</h6>
</div>
