<div class="container">
  <div>
    <span [matBadge]="notification" [matBadgeHidden]="notification === 0"
      >Notification</span
    >
  </div>
  <div>
    <span
      matBadge="5"
      matBadgeSize="small"
      matBadgePosition="below before"
      matBadgeColor="warn"
      >Notification</span
    >
  </div>
  <div>
    <span
      matBadge="5"
      matBadgeSize="medium"
      matBadgeColor="accent"
      matBadgePosition="below after"
      >Notification</span
    >
  </div>
  <div>
    <span
      matBadge="5"
      matBadgeSize="large"
      matBadgeColor="warn"
      matBadgePosition="above before"
      matBadgeOverlap="false"
      >Notification</span
    >
  </div>
</div>
