<div class="container">
  <mat-progress-spinner color="warn" value="40"></mat-progress-spinner>
  <button (click)="loadData()">Load Data</button>
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
</div>
