<div class="container">
  <button mat-button (click)="openSnackBar('Item deleted', 'Dismiss')">
    Show Shack bar
  </button>
  <button mat-button (click)="openSnackBar('Item deleted', 'Undo')">
    Delete
  </button>

  <button mat-button (click)="openCustomSnackBar()">Show Custom Snackbar</button>
</div>
