<div class="container">
  <form>
    <mat-form-field>
      <input type="text" matInput [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let item of objectOptions" [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <!-- Filtering Autocomplete -->
  <form>
    <mat-form-field>
      <input
        type="text"
        matInput
        [matAutocomplete]="autoText"
        [formControl]="myControl"
      />
      <mat-autocomplete #autoText="matAutocomplete">
        <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
          {{ item }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
