<h2 mat-dialog-title>Session Timeout</h2>
<mat-dialog-content>
  You will be logged out due to inactivity
  <p>{{ data.name }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close mat-dialog-close="true">
    Keep me logged in
  </button>
  <button mat-button mat-dialog-close mat-dialog-close="false">Log out</button>
</mat-dialog-actions>
