<div class="container">
  <cdk-virtual-scroll-viewport itemSize="100" class="_container">
    <div *cdkVirtualFor="let number of numbers" class="number">
      {{ number }}
    </div>
  </cdk-virtual-scroll-viewport>
</div>
