<div class="container">
  <mat-list dense>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>

  <mat-nav-list>
    <a mat-list-item href="#">mat nav</a>
    <a mat-list-item href="#">mat nav2</a>
    <a mat-list-item href="#">mat nav3</a>
  </mat-nav-list>

  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>home</mat-icon>
      <h3 matLine>Heading</h3>
      <p matLine>Line</p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine>Heading 2</h3>
      <p matLine>Line 2</p>
    </mat-list-item>
  </mat-list>
</div>
