<div class="container">
  <mat-grid-list cols="2" rowHeight="100px" gutterSize="10px">
    <mat-grid-tile rowspan="2">tile 1</mat-grid-tile>
    <mat-grid-tile colspan="2">tile 2</mat-grid-tile>
    <mat-grid-tile>tile 3</mat-grid-tile>
    <mat-grid-tile>tile 4</mat-grid-tile>
  </mat-grid-list>
</div>
