<div class="container mb-5">
  <div class="mb-2">
    <mat-form-field floatLabel="never" appearance="legacy">
      <mat-label>Legacy</mat-label>
      <input type="text" matInput required />
      <mat-hint align="end">Min 5 Characters</mat-hint>
      <span matSuffix>@domain.com</span>
      <span matPrefix>admin.</span>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Standard</mat-label>
      <input type="text" matInput />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="standard" color="warn">
      <mat-label>Standard wih warn</mat-label>
      <input type="text" matInput />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Outline</mat-label>
      <input type="text" matInput />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Fill</mat-label>
      <input type="text" matInput />
    </mat-form-field>
  </div>

  <!-- Error Binding -->
  <form class="example-form">
    <div>
      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="emailFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Ex. pat@example.com"
        />
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>FullName</mat-label>
        <input
          type="input"
          matInput
          [formControl]="fullNameFormControl"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="emailFormControl.hasError('required')">
          FullName is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  <!-- Select -->
  <div>
    <mat-form-field>
      <mat-label>Topic</mat-label>
      <mat-select [(value)]="selectedValue">
        <mat-option>None</mat-option>
        <mat-option value="angular">Angular</mat-option>
        <mat-option value="react">React</mat-option>
        <mat-option value="vue">Vue</mat-option>
        <mat-optgroup label="backend">
          <mat-option value="spring">Spring</mat-option>
          <mat-option value="node">Node js</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    {{ selectedValue }}
  </div>
  
  <!-- Multi Select -->
  <div>
    <mat-form-field>
      <mat-label>Topic</mat-label>
      <mat-select multiple>
        <mat-option>None</mat-option>
        <mat-option value="angular">Angular</mat-option>
        <mat-option value="react">React</mat-option>
        <mat-option value="vue">Vue</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
